{%extends "shop/base.html"%}
{%load static%}

{%block title%%} Your shopping cart {% endblock%}

{% block content%}
<h1>Your shopping cart</h1>
<table id="cart" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remove</th>
            <th scope="col">Unit price</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {%	for	item in	cart %}
            {%	with product=item.product %}
                <tr>
                    <td>
                        <a	href="{{	product.get_absolute_url	}}">
                                <img	src="{%	if	product.image	%}{{ product.image.url	}}
                                {% else %}{% static	'img/default-product.png'	%} {%endif%}">
                        </a>
                    </td>
                    <td>{{product.name}}</td>
                    <td>
                        <form action="{%url 'cart:cart_add' product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update">
                            {%csrf_token%}
                        </form>
                    </td>
                    <td><a	class = "btn btn-danger" href="{% url 'cart:cart_remove'	product.id	%}">Remove</a></td>
                    <td	class="num">${{	item.price }}</td>
                    <td	class="num">${{	item.total_price }}</td>
                </tr>
            {%	endwith	%}
        {%	endfor	%}
        <tr	class="total">
                <td>Cart Total</td>
                <td	colspan="4"></td>
                <td	class="text-right">${{	cart.get_cart_total }}</td>
        </tr>
        <tr	class="total">
            <td>Estimated Shipping</td>
            <td	colspan="4"></td>
            <td	class="text-right">${{	cart.get_shipping }}</td>
        </tr>
        <tr	class="total">
            <td>Tax (13%)</td>
            <td	colspan="4"></td>
            <td	class="text-right">${{	cart.get_cart_taxes }}</td>
        </tr>
        <tr	class="total">
            <td><h5>Grand Total</h5></td>
            <td	colspan="4"></td>
            <td class="text-right"><h5><strong>${{	cart.get_total_price }}</strong></h5></td>
        </tr>
    </tbody>
</table>

<p	class="text-center">
    <a	href="{%url	'shop:product_list'	%}"	class="glyphicon glyphicon-play">Continue shopping</a>
    <a	href="{%url 'orders:order_create'%}" class="btn btn-success">Checkout</a>
</p>

{% endblock %}

