p {
    color: rgb(11, 5, 49);
}

a {
    color: rgb(11, 5, 49);
}

ul {
    list-style-type: circle;
}

body {
    background-color: white !important;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    width: 100%;
}

.navbar-brand {
    margin-top: 3%;
    font-size: 100px !important;
    color: rgb(0, 0, 0) !important;
    float: left;
    font-family: "Merienda";
}

.nav-link-scroll {
    padding-left: 40px;
    padding-right: 40px;
}

#header a {
    color: #008B8B !important;
    text-align: center;
    font-size: 100px;
    font-family: "Merienda";
}

#about {
    margin-top: 3%;
    color: #2ab2b2 !important;
    text-align: center;
    font-size: 20px;
    font-family: serif;
}

#social {
    margin-top: 3%;
    color: #2ab2b2 !important;
    text-align: center;
    font-size: 20px;
    font-family: serif;
}

#marketing {
    margin-top: 3%;
    color: #2ab2b2 !important;
    text-align: center;
    font-size: 20px;
    font-family: serif;
}

#view-cart {
    position: fixed;
    margin-top: 3%;
    /* the fixed pos makes it work */
    right: 2%;
    text-align: right;
    float: right;
    flex-direction: row;
}

.logo {
    background: url(https://is4.revolveassets.com/images/up/2022/July/072622_f_lwldresses_iphone_2x.jpg);
    background-size: cover;
}

#who-are-we {
    background: url(https://i.pinimg.com/originals/6f/e0/6c/6fe06ca627037b71b5c9793778b11fa6.jpg);
    background-size: cover;
}


/*list.html*/


/*Product section*/

#sidebar {
    float: right;
    position: fixed;
    right: 2%;
}

#product-list {
    float: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
}

#item {
    width: 250px;
    height: 350px;
    display: flex;
    margin-bottom: 150px;
    align-items: center;
    margin: 0 10px 10px 10px;
}

.item_img-box::after {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.item_img-box img {
    width: 100%;
    margin-top: 100px;
}

.item_img-box {
    display: inline-block;
    color: #0f0f10;
    padding: 2px 17px;
    margin-top: -30px;
    margin-bottom: 15px;
}


/*shop detail.html*/

.product-detail img {
    border-radius: 50%;
    max-width: 2px;
    max-height: 2px;
}


/*cart detail.html*